<!-- Footer Section -->
    <footer style="background-color: #3d3d3d; color: #fff; padding: 40px 20px; margin-top: 60px;">
        <div style="display: flex; justify-content: space-between; align-items: flex-start; max-width: 1200px; margin: 0 auto;">
            <!-- Left Column -->
            <div style="width: 30%;">
                <h2 style="font-size: 24px; margin-bottom: 10px;"><i class="fa-solid fa-blog"></i> Blogify</h2>
                <p style="font-size: 14px; line-height: 1.6;">Our mission is to equip modern explorers with cutting-edge, functional, and stylish bags that elevate every adventure.</p>
            </div>
            
        </div>
        <div style="text-align: center; font-size: 14px; margin-top: 40px; display: flex; justify-content: space-between;">
            <p>©2025 Blogify. All rights reserved.</p>
            <p>
                <a href="#" style="color: #fff; text-decoration: none; margin-right: 20px;">.Privacy Policy</a>
                <a href="#" style="color: #fff; text-decoration: none;">.Terms of Service</a>
            </p>
        </div>
        </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>
</html>